<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome!
    </title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <script>
        function getSort() {
            var sortType = document.getElementById("sortType");
            window.location.href = "http://localhost:3000" + sortType.options[sortType.selectedIndex].value;
        }
    </script>
</head>

<body>
    <h2 id="title"><span>Welcome!</span></h2>

    <div class="sortSection">
        <div class="sortSelect">
            <label id="sort">SORT BY:</label>
            <select name="selectItems" id="sortType" onchange="getSort()">
                <option value="/"> ... </option>
                <option value="/">Default</option>
                <option value="/authorSort_asc">Author: A to Z</option>
                <option value="/authorSort_desc">Author: Z to A</option>
                <option value="/timeSort_asc">Time: Early to Now</option>
                <option value="/timeSort_desc">Time: Now to Early</option>
            </select>
        </div>
    </div>

    <div class="container">
        <% story.forEach(function(story){%>
        <div class="item">
            <div class="item-info">
                <label for="title" style="font-size: 2em; line-height: 3em;"><%= story.title%></label><br>
                <label for="author"><span style="font-weight: bold;">Author: </span><%= story.author%></label><br>
                <label for="date"><%= story.date%></label><br>
                <label for="intro"><span style="font-weight: bold;">Introduction: </span><%= story.intro%></label><br>
            </div>

<!--            <a href="/index?url=<%= story.photo%>>">-->
            <a href="/index">
                <img class="img" src="/images/<%= story.photo%>">
            </a>
            <div style="clear: both;"></div>
        </div>
        <% }); %>

        <div style="clear: both;"></div>
    </div>

    <div class="tools">
        <button id="tool">
            <a href="#title"><img id="toolbtn" src="/images/backtop_icon.png"></a>
        </button>
        <button id="tool">
            <a href="/uploadimg"><img id="toolbtn" src="/images/add_icon.png"></a>
        </button>
    </div>
</body>

</html>