<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome!
    </title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>
    <h2 id="title"><span>Welcome!</span></h2>
    <div class="container">
        <% story.forEach(function(story){%>
        <div class="item">
            <div class="item-info">
                <label for="title"><%= story.title%></label><br>
                <label for="auther"><%= story.auther%></label><br>
                <label for="date"><%= story.date%></label><br>
                <label for="intro"><%= story.intro%></label><br>
            </div>
            <a href="/index">
                <img class="img" src="/images/<%= story.photo%>">
            </a>
            <div style="clear: both;"></div>
        </div>
        <% }); %>

        <div style="clear: both;"></div>
    </div>

    <div class="tools">
        <button id="tool">
            <a href="#title"><img id="toolbtn" src="/images/backtop_icon.png"></a>
        </button>
        <button id="tool">
            <a href="/uploadimg"><img id="toolbtn" src="/images/add_icon.png"></a>
        </button>
    </div>
</body>

</html>